.container {
    max-width: 900px;
    width: 100%;
    margin: 2% auto;
    margin-top: 8%;


  }

table {
    width: 100%;
    max-width: 100%;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;

  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }


  .example-card {
    max-width: 400px;
    width: 100%;
    margin: 5%;
    width: 80px;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;

  }
  
  .deletebutton{
    color: #126D9B;
  }

  .checkout{
    margin-top: 2%;
    color: #D8FBE8;
    background-color: #126D9B;
    float: right;
  }
  .checkoutdiv{
    overflow:hidden
  }
