
footer{
    background-color: #126D9B;
    font: normal 100% Sans-Serif;
    padding: 1% 0%;

}

.footer_text{
    text-align: center;
    color: #D8FBE8;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;


}
