<!-- Div to control the elements inside this component -->
<div class="container">
  <br>
  <!-- Title on Admin page -->
  <h4 class="collectionTitle">Select a Collection</h4>
  <mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select [(ngModel)]="strOption" name="strOption" (selectionChange)="onOptionSelection($event)">
      <mat-option *ngFor="let collection of collections" [value]="collection.value">
        {{collection.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Div to show the order table, noticed that it is conditionally visible-->
  <div *ngIf="strOption=='orders'">
  <mat-accordion *ngIf="orders | async; let orders; else loading">
    <mat-expansion-panel *ngFor="let order of orders">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Status: {{ order.status | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
          Amount: {{ order.amount | currency}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Table to show details of every order-->
      <table  mat-table [dataSource]="order.details" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let detail"> {{detail.name}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let detail"> {{detail.price | currency}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
      
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Qty </th>
          <td mat-cell *matCellDef="let detail"> {{detail.quantity}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
      
        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let detail"> {{detail.amount | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{ order.amount | currency}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  <!-- Div to show the user table, noticed that it is conditionally visible-->
  <div *ngIf="strOption=='users'"> 
    <div *ngIf="users | async; let users; else loading" >
    <mat-card *ngFor="let user of users" class="user-card">
        <mat-card-header>
          <mat-card-title>{{user.displayName}}</mat-card-title>
        </mat-card-header>
        <!-- Image of the user registered on our web site-->
        <img mat-card-image  class="img-card" [src]="user.photoUrl" alt="user.displayName">
        <mat-card-content>
          <p>
            {{user.email}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  
</div>