<!-- Div to change the em sizes for the responsive design -->
<div class="products_body">
    <div class="hero_comp">
        <!-- Hero Image component on shop page -->
        <div class= "parallax_img hero_img_container"></div>
        <!-- parallax Image effect -->
        <!-- hero_img_container provides the black background got the transperancy tint -->
            <div class="prod_hero_txt centered">
                <!-- Text Div for the hro image-->
                <p class="prod_hero_head_txt font_2">buy the freshest produce</p>
                <p class="prod_hero_sub_txt">support your local farmers</p>
                <p class="prod_hero_scroll_txt"><em>Scroll Down</em></p>
                <!-- Down icon -->
                <i class="fa fa-angle-down" style="font-size:24px"></i>
            </div>
        </div>
    </div>
    <!-- list of products -->
<app-list-products></app-list-products>


