  /* CSS to have the container centering all elements */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  .container
  {
      text-align:center;
      width:100%;
      max-width: 950px;
      margin: 5% auto;
  }

  /* CSS to show each product propertly*/
 
.product-card
{
    margin:1px;
    width: 26%;
    text-align:left;
    min-width: 250px;
    display:inline-block;    
    margin: 1.5%;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;

}
/* CSS to align the height of the images*/
.mat-card img{
  height: 11.6em;

}