
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    width: 50%;
    min-width: 800px;
    margin: 5% auto;
  }
  
  .example-card {
    float: left;
    width: 26%;
    min-width: 100px;
    margin: 1%;

  }
  .img-card{
    height: 160px;
  }
  