<div class="body_div" style="background-color: white;">
  <!--        Update info header-->
  <div class="info_header_container">
      <div class="info_heading">
          User Information
      </div>
      <div class="info_text">Please enter your details below</div>
  </div>
  <hr>
  <!--        The input fields and button-->
  <div class="form_ele">
      <label class="form_ele_lbl">First Name</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: John">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Last Name</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: Doe">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Email</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: john.doe@xyz.com">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Phone</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: 000-000-0000">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Address Line 1</label>
      <input class="form_ele_inp"type="text" placeholder="Street/Apartment/etc.">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Address Line 2</label>
      <input class="form_ele_inp"type="text" placeholder="Apt No/House No/etc.">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">City</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: Bryan">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">State</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: Texas">
  </div>
  <div class="form_ele">
      <label class="form_ele_lbl">Zip-code</label>
      <input class="form_ele_inp"type="text" placeholder="eg.: 77801">
  </div>
  <div class="form_ele">
      <button class="form_ele_btn">Submit</button>
  </div>
</div>